<div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Loan approval</div>
      <form>
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Enter Loan name" required minlength="4" maxlength="10">
            <div class="invalid-feedback">
              Invalid Loan name
            </div>
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Enter your Loan amount" required >
            <div class="invalid-feedback">
              Invalid Loan amount
            </div>
          </div>
          <div class="button input-box">
            <input type="submit" value="Submit">
          </div>
          <div class="text sign-up-text">Dues if any<label for="flip">Loan Dues</label></div>
        </div>
    </form>
  </div>
    <div class="loandues-form">
      <div class="title">Loan Dues</div>
    <form>
        <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter Loan name" required minlength="4" maxlength="10">
              <div class="invalid-feedback">
                Invalid Loan name
              </div>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your Loan amount" required >
              <div class="invalid-feedback">
                Invalid Loan amount
              </div>
            </div>
          <div class="button input-box">
            <input type="submit" value="Submit">
          </div>
          <div class="text sign-up-text">No dues <label for="flip">Loan approval</label></div>
        </div>
    </form>
</div>
</div>
</div>